<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>E-library</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="content">
        
        <div class="title">
            <h1>E-Library</h1>
        </div>
        <hr>
        <form class="item" action="/add" method="post">
            <input type="text" name="title" placeholder="Title" autocomplete="off" autofocus="true" />
            <input type="text" name="author" placeholder="Author" autocomplete="off" autofocus="true" />
            <input type="text" name="isbn" placeholder="ISBN" autocomplete="off" autofocus="true" />
            <input type="text" name="summary" placeholder="Summary" autocomplete="off" autofocus="true" />
            <input type="text" name="contents" placeholder="Book contents" autocomplete="off" autofocus="true" />
            <input type="text" name="rating" placeholder="Rating" autocomplete="off" autofocus="true" />
            <button class="add" type="submit" name="list"  >Add</button>
          </form>
    </div>
</body>
</html>